.container{
  padding: 0% 5% 0 5%;

}

.example-card       {
  max-width: 350px !important;
 margin: 0 1%;
  padding: 2%;
}

.img{
  height: 90%;
width: 90%;


}      
    .row{
      display: flex;
    }   
    p{
      margin: 0;
    }