<!-- <carousel   style="z-index: 0 !important; margin-top: 4%;" 
            [images]="feed"
            [objectFit]="'cover'"
            [cellWidth]="'100%'"
            [height]="450"
            
            [autoplay]="true"
            [dots]="true"
            [loop]="true"
            [counter]="true"
            [cellsToShow]="1" >
          </carousel> -->
<carousel style="z-index: 0 !important; margin-top: 4%;" class="carousel-html-content" [objectFit]="'cover'"
  [cellWidth]="'100%'" [height]="650" [autoplay]="true" [dots]="true" [loop]="true" [counter]="false" [cellsToShow]="1">
  <div class="carousel-cell"
    style="background-image: url(../../../assets/images/banner.png);   filter: grayscale(70%); text-align: center; padding-top: 80px;">
    <h1 style="color: white; font-size: 120px;">Food Nation</h1>
  </div>
  <div class="carousel-cell"
    style="background-image: url(../../../assets/images/banner1.jpg);   filter: grayscale(70%); padding: .8%;">
    <h1 style="color: white; font-size: 140px;">Burger</h1>
  </div>
  <div class="carousel-cell"
    style="background-image: url(../../../assets/images/banner2.jpg);   filter: grayscale(70%); padding: 1.5%;">
    <h1 style="color: white; font-size: 140px;">Pizza</h1>
  </div>
  <div class="carousel-cell"
    style="background-image: url(../../../assets/images/banner3.jpg);   filter: grayscale(70%); padding: 1.5%;">
    <h1 style="color: white; font-size: 140px;">Fries</h1>
  </div>
  <div class="carousel-cell"
    style="background-image: url(../../../assets/images/bannerKitchen2.png);   filter: grayscale(70%); padding: 1.5%;">
    <h1 style="color: white; font-size: 140px;">Crispy</h1>
  </div>
  <div class="carousel-cell"
    style="background-image: url(../../../assets/images/bannerKitchen.png);   filter: grayscale(70%); padding: 1.5%;">
    <h1 style="color: white; font-size: 140px;">Pasta</h1>
  </div>
</carousel>
 <div class="container" #order id="order">


    <div class="row">
     <h1 style="margin-top: 6%;">Order Now</h1>
     <ng-container *ngFor="let dish of dishs; index as i">
     <mat-card class="example-card">
  
       <img mat-card-image
         src={{dish.photo[0]?.path}}
         alt="Photo of a Shiba Inu">
       <mat-card-content>
         <h2>
           {{dish.name}}
         </h2>
         <p>
           {{dish.description}}
         </p>
         <h3>${{dish.price}}/-</h3>
       </mat-card-content>
  
       <button mat-raised-button color="warn" (click)="openDialog(dish)"><mat-icon>remove_red_eye</mat-icon></button>
       <button mat-raised-button color="primary" (click)="addToCart(dish)"><mat-icon>add_shopping_cart</mat-icon></button>
     </mat-card>
  
    
    
   </ng-container>
  </div>


</div>